
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

img {
    height: auto;
    width: 100px;
}

  button {
    font-family: Roboto, sans-serif;
    border: none;
    padding: 8px;
    border-radius: 16px;
    background: #3882f6;
  }

p {
    color: #F9FAF8;
}

a,.secondtext {
    font-size: 18px;
    color: #E5E7EB
}

.logo   {
    color: #E5E7EB;
   margin-right: 1000px;

}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headerbody
    {
        display: flex;
        flex-grow: 1;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

.header {
    display: flex;
    background-color: #1f2937;
    flex: 1;
    flex-direction: column;
}

.trueheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

.content {
    display: flex;
    flex: 1;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    display: flex;
    border: 2px solid blue;
    flex-direction: column;
    justify-content: center;
}

.title2 {
    margin-left: 1000px;
    margin-right: 1000px;
}

.paragraph {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}

.speaker {
    margin-left: 1200px;
}

.sign-up {
    display: flex;
    flex: 1;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}

.signupbox
    {
        background-color: #3882f6;
        align-self: center;
        display: flex;
        padding: 40px;
        gap: 5px;
    }

